<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="">Helisam Soares Bentes</a>.</strong> All rights
    reserved.
  </div>
  <!-- /.container -->
</footer>
