<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Bem vindo ao Blog Project!</h1>
    <p>
      Um simples CRUD simulando a manipulação de dados.
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/blog']">Ver Aplicativo</a>
  </div>

</section>
