<a [routerLink]="['/blog', message.id]">
<!-- <a href="#"> -->
  <div class="place-info-box">
    <div class="place-info-box-content">
      <span class="place-info-box-text">ID: {{message.id}}</span>
      <span class="place-info-box-text">Comment: {{message.message}}</span>
    </div>
    <!-- /.info-box-content -->
      <a class="btn btn-warning btn-sm" [routerLink]="['/blog']">Edit</a>
      <a (click)="deleteMessage(message)" class="btn btn-danger btn-sm" [routerLink]="['/blog']">Remove</a>
  </div>
</a>
<!-- /.info-box -->
