{{form.valid}}
{{form.value | json}}
{{form.value.textAreaValue}}
<form #form="ngForm" novalidate>
  <section class="content-header">
    <h1>
      Digite seu texto aqui
    </h1>
    <div class="form-group">
      <label for="comment"></label>
      <textarea name="textAreaValue" ngModel class="form-control" rows="5" id="comment"></textarea>
      <a (click)="addMessage(form.value.textAreaValue)" class="btn btn-success btn-sm">Add</a>
    </div>
  </section>


  <section class="content">

    <div class="row">
      <div *ngFor="let message of messages" class="col-sm-6 col-xs-12">
        <!-- <anb-messages [message]="message"></anb-messages> -->
        <!-- <anb-message [message]="message"></anb-message> -->
        <a>
          <!-- <a href="#"> -->
          <div class="place-info-box">
            <div class="place-info-box-content">
              <input *ngIf="isEdit" (keydown.enter)="updateMessage(message)" type="text" name="name" >
              <span *ngIf="!isEdit" class="place-info-box-text">ID: {{message.id}}</span>
              <!-- <label  from="name">Name</label> -->
              <span class="place-info-box-text">Comment: {{message.message}}</span>
            </div>
            <!-- /.info-box-content -->
            <a (click)="editMessage(message)" class="btn btn-warning btn-sm" [routerLink]="['/blog', message.id]">Edit</a>
            <a (click)="deleteMessage(message)" class="btn btn-danger btn-sm" [routerLink]="['/blog']">Remove</a>
          </div>
        </a>

        <!-- /.info-box -->
      </div>
      <!-- /.col -->

    </div>

  </section>
</form>
